<section class="comments" id="comment-section">
  {% if site.data.comments[page.slug] %}
  <!-- Existing comments -->
  <div class="comments__existing">
    <h2>Comments</h2>
    <hr>
    <script>console.log("{{page.slug}}")</script>
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_uid == ''" %}
    {% assign comments_by_date = comments | sort: 'date' %}
    <!-- List main comments in reverse date order, newest first. List replies in date order, oldest first. -->
    {% for comment in comments_by_date %}
    {%- assign email = comment.email %}
    {%- assign name = comment.name %}
    {%- assign url = comment.url %}
    {%- assign date = comment.date %}
    {%- assign message = comment.message %}
    {%- assign uid = comment._id %}
    {% include comment.html is_reply=false uid=uid replying_to=0 email=email name=name url=url date=date message=message
    uid=uid depth=0 %}
    {% endfor %}
  </div>
  {% endif %}

  <!-- New comment form - temporarily disabled -->
  {% comment %}
  <div id="respond" class="comment__new">
    {% include comment_form.html %}
  </div>
  {% endcomment %}
</section>

<script src="{{ root_url }}/javascripts/comments.js" type="text/javascript"></script>
