---
layout: default
single: true
---

<div>
  <article class="hentry" role="article">
    {% include article.html %}
    <footer>
      <p class="meta">
        {% include post/author.html %} on
        {% include post/date.html %}{{ date | date_to_string }}
        {% include post/categories.html %}
      </p>
      {% unless page.sharing == false %}
      {% include post/sharing.html %}
      {% endunless %}
      <p class="meta">
        {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}"
          title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}"
          title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </p>
    </footer>
  </article>
  {% include comments.html %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% include custom/asides/about.html %}
  {% include asides/github.html %}
  {% include asides/delicious.html %}
  {% include asides/recent_posts.html %}
  {% include asides/pinboard.html %}
  {% include asides/googleplus.html %}
</aside>
{% endunless %}
