<section>
  <h1>About Me</h1>
  <p>Hi! My name is Carlos, but people often call me Chester (and either is fine). I enjoy making people happy by
    creating/fixing software
    and tinkering with things 😊</p>
  <p>For professional info, please check my <a href="http://ca.linkedin.com/in/chesterbr">LinkedIn profile</a> and <a
      href="http://www.slideshare.net/chesterbr/presentations">SlideShare presentations</a>. Better yet: go straight to
    the <a href="https://github.com/chesterbr">code on GitHub</a>.</p>
  <p>You can also <a href="https://ursal.zone/@chesterbr">follow me on Mastodon</a>, view my photos on <a
      href="https://www.instagram.com/chester_br">Instagram</a>, get an <a
      href="http://feeds.feedburner.com/chesterbr">RSS feed</a> of this blog, or just continue reading. Up to you, have
    fun!</p>
</section>
