<section>
  <h1>About Me</h1>
  <p>My name is <a href="https://www.facebook.com/chesterbr">Carlos</a>, but people often call me Chester. I enjoy making people happy by creating/fixing software and tinkering with things.</p>
  <p>For professional info, please check my <a href="http://ca.linkedin.com/in/chesterbr">LinkedIn profile</a> and <a href="http://www.slideshare.net/chesterbr/presentations">SlideShare presentations</a>. Better yet: go straight to the <a href="https://github.com/chesterbr">code on GitHub</a> (and a few <a href="http://sourceforge.net/users/chesterbr">other</a> <a href="https://code.google.com/u/106258097848597339782/">places</a>).</p>
  <p>You can also <a href="http://twitter.com/chesterbr">follow me on Twitter</a>, view my <a href="http://www.flickr.com/photos/chesterbr/sets/">photos on Flickr</a>, get an <a href="http://feeds.feedburner.com/chesterbr">RSS feed</a> of this blog, or just continue reading. Up to you, have fun!</p>
</section>
